numpy
opencv-python
pillow
torch
torchvision
scikit-learn
faiss-cpu
psutil
easyocr
openai-whisper
pydub
librosa
soundfile
transformers
pymupdf
pdf2image
python-docx
paddlepaddle
paddleocr
pix2text
python-dotenv
